*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.nav 
{
    padding: 20px;
    position: fixed;
    z-index: 1000;
    margin-top: 100px;
}

.navfun 
{
    width: 50%;
    margin-top: 50px;
    border-radius: 0 100px 100px 0;
    background: #d7dce1;
    position: absolute;
    text-align: left; 
    display: none;
}
.nav ul i 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #0563bb;
    color: #fff;
    font-size: 25px;
    line-height: 60px;
   margin-top: 10px;
}
.nav ul 
{
    list-style: none;
}
.nav ul li a 
{
    text-decoration: none;
    text-align: center;
}
.nav ul li:hover a
{
    background: #0563bb;
    color: #fff;
}

#home 
{
    height: 100vh;
    width: 100%;
    background: url(../images/home-background.jpg) top right no-repeat;
    background-size: cover;
    position: relative;
}
#home::before 
{
   content: "";
   background: rgba(255, 255, 255, .80);
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}
.bars 
{
    display: none;
}
#home .name 
{
    position: absolute;
    top: 250px;
    right: 150px;
}
#home .name h1 
{
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}
#home .name p 
{
    color: #45505b;
    margin-top: 15px;
    font-size: 26px;

} 
#home .name p span 
{
    color: #0563bb;
    letter-spacing: 1px;
}
#home .name p span .typed-cursor 
{
    opacity: 1;
}
#home .name .links i 
{
    margin-top: 20px;
    font-size: 30px;
    margin-right: 20px;
    color: #45505b;
}
#home .name .links i:hover
{
    color: #0563bb;
}
/* ABOUT SECTION START */ 
#about 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
}
.section-title h1 
{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}
.section-title h1::before 
{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section-title h1::after 
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}
.section-title p 
{
    color: #272829;
    margin: 10px 50px ;
    line-height: 1.5;
    font-size: 16px;
}
#about .img-details 
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 7fr;
    text-align: left;
}
#about .img-details .col1 
{
    padding-right: 50px;
}
#about .img-details .col1 .details 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
#about .img-details .col1 h3 
{
    font-weight: 700;
    font-size: 26px;
    color: #728394;
}
#about .img-details .col1 p
{
    font-style: italic;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 18px;
}
#about .img-details .col1 .details .d1 ul 
{
    list-style: none;
}
#about .img-details .col1 .details .d1 ul i
{
    font-size: 16px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 2;
}
#about .img-details .col1 .details .d1 ul li strong
{
    margin-right: 10px;
    font-weight: bolder;
}
.arrow 
{
    height: 60px;
    width: 60px;
    background: #0563bb;
    color: #fff;
    z-index: 100;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
   
    
}

/* ABOUT SECTION END */ 

/* FACT SECTION START */ 

.fact 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
}
.fact .fact-numbers 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fact .fact-numbers .n1 
{
    margin-top: 50px;
    text-align: center;
}
.fact .fact-numbers .n1 i
{
    font-size: 24px;
    background: #0563bb;
    color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    
}
.fact .fact-numbers .n1 h3 
{
    font-size: 36px;
    font-weight: 600;
    color: #011426;
    margin-top: 8px;
}
.fact .fact-numbers .n1 p
{
    font-size: 14px;
    color: #272829;
}
/* FACT SECTION END */ 

/* SKILLS SECTION START */ 
.skills 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
}
.skills .skill-details 
{
    text-align: left;
    margin: 50px 250px; 
}
.skills .skill-details .progress 
{
    margin-top: 30px;
}
.skills .skill-details .progress span 
{
    padding: 10px 0;
    margin: 0;
    font-weight: 600;
    color: #45505b;
}
.skills .skill-details .progress span i
{
    float: right;
    font-style: normal;
}
.skills .skill-details .progress .progress-bar
{
    height: 10px;
    width: 80%;
    background: #0563bb;
}
/* SKILLS SECTION END */ 

/* RESUME SECTION START */
#resume 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
}
#resume .resume-details 
{
    display: grid ;
    grid-template-columns: 1fr 2fr;
    margin: 50px 50px;
    text-align: left;
}
#resume .resume-details .r1
{
    padding: 20px;
}
#resume .resume-details .resume-title 
{
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}
#resume .resume-details .resume-items-details h4::before 
{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -25px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}
#resume .resume-details .resume-items-details h4 
{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0563bb;
    margin-bottom: 10px;
    position: relative;
}
#resume .resume-details .resume-items-details p 
{
   margin-top: 10px;
}
#resume .resume-details .resume-items-details ul 
{
    list-style: none;
    margin-top: 20px;
}
#resume .resume-details .resume-items-details li 
{
    margin-top: 10px;
}
#resume .resume-details .resume-items-details li span
{
    margin-left: 10px;
}
.education 
{
    margin-left: 100px;
}

/* RESUME SECTION END */ 

/* PORTFOLIO SECTION START */ 

#portfolio 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
}
.projects 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.projects .p 
{
    height: 200px;
    margin: 20px;
    position: relative;
    background: rgba(69 , 80, 91, 0.8);
    z-index: 1;
}
.projects .p::before
{
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.projects .p:hover::before 
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}
.projects .p .portfolio-info 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    opacity: 0;
}
.projects .p .portfolio-info::before 
{
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #d7dce1;
    border-left: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}
.projects .p:hover .portfolio-info::before 
{
    top: 15px;
    left: 15px;
}
.projects .p .portfolio-info::after 
{
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #d7dce1;
    border-right: 3px solid #d7dce1;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}
.projects .p:hover .portfolio-info::after 
{
    bottom: 15px;
    right: 15px;
}
.projects .p:hover .portfolio-info 
{
    opacity: 1;
}
.projects .p .portfolio-info h4 
{
    font-size: 20px;
    color: #45505b;
    font-weight: 600;
    margin-top: 100px;
}
.projects .p .portfolio-info p 
{
    color: #45505b;
    font-size: 14px;
    text-transform: uppercase;

}
/* PORTFOLIO SECTION END */ 

/* SEVICE SECTION START */ 

#services 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
} 
.service-part 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.service-part .s1 
{
    /* border: 2px solid; */
    margin: 50px;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.2);
    background: #fff;
    position: relative;

}
.service-part .s1 .logo 
{
    font-size: 30px;
    background: #0563bb;
    color: #fff;
}
.service-part .s1 h3 
{
    margin: 20px;
}
.service-part .s1 p 
{
    text-align: left;
    line-height: 1;
}

.service-part .s1::before
{
    content: "";
    background: rgba(110, 123, 131, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left:  0;
    transform: scale(1,0);
    transform-origin:  bottom center;
    transition: 500ms ease;
}
.service-part .s1:hover::before 
{
    transform: scale(1,1);
}
/* SEVICE SECTION END */

/* CONTACT SECTION START */ 
#contact 
{
    text-align: center;
    margin-top: 100px;
    margin-left: 150px;
} 
.contact-part 
{
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 50px;
}
/* .contact-part .c1 
{
    border: 2px solid;
    height: 300px;
} */
.contact-part .c1 .data .d1 
{
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.contact-part .c1 .data .d1 .dd1 
{
   margin-top: 30px;
}
.contact-part .c1 .data .d1 .logo 
{
   font-size: 25px;
   background: #eef7ff;
   border-radius: 50%;
   height: 50px;
   width: 50px;
   line-height: 50px;
   color: #0563bb;
   text-align: center;
}
.contact-part .c1 .data .d1 .det
{
    text-align: left;
    margin-top: 35px;
    margin-left: -20px;
    
}
.contact-part .c1 .data .d1:hover .logo 
{
    background: #0563bb;
    color: #fff;
}
.contact-part .c1 form 
{
    text-align: left;
    margin: 20px;
}
.contact-part .c1 form .i1 
{
    height: 40px;
    width: 49%;
    padding: 10px;
}
.contact-part .c1 form .i2 
{
    height: 40px;
    width: 99%;
    margin-top: 20px;
    padding: 10px;

}
.contact-part .c1 form .i3 
{
    width: 99%;
    margin-top: 20px;
    padding: 10px;

}
.contact-part .c1 form button 
{
    height: 40px;
    width: 30%;
    background: #0563bb;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin: 15px 250px;
}
.contact-part .c1 form button:hover
{
    background: #fff;
    color: #0563bb;
    border: 2px solid #0563bb;
}
/* CONTACT SECTION END */ 

/* FOOTER SECTION START */ 

.footer 
{
    background: lightgrey;
    text-align: center;
    padding: 20px 300px; 
}
.footer .text h2 
{
    color: #0563bb;
}
.footer .text p
{
    margin-top: 10px;
}
.footer .icons 
{
    margin: 50px;
    font-size: 25px;
}
.footer .icons a 
{
    padding: 10px;
    background: #0563bb;
    color: #fff;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    line-height: 60px;
}
.footer .icons a:hover
{
    background: #fff;
    color: #0563bb;
    border: 2px solid #0563bb;
}
/* FOOTER SECTION END */ 


